/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main wrapper */
.wrapper {
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

/* Center text */
.text-center {
    text-align: center;
}

/* Clearfix */
.clearfix {
    clear: both;
}

/* Full-width table */
.full-table {
    width: 100%;
    border-collapse: collapse;
}

/* Table header and cell styles */
.full-table th {
    padding: 12px; /* Increase padding for better spacing */
    text-align: left;
    border-bottom: 1px solid black;
}

.full-table td {
    padding: 10px; /* Increase padding for better spacing */
    text-align: left;
    border-bottom: 1px solid black;
}

/* Button styles */
.btn-primary,
.btn-secondary,
.btn-danger {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
}

.btn-primary:hover {
    background-color: #3742fa;
}

.btn-secondary,
.btn-danger:hover {
    background-color: #2ed573;
}

.btn-primary:active,
.btn-secondary:active,
.btn-danger:active {
    background-color: #3742fa;
    transform: translateY(1px);
}

.btn-primary:focus,
.btn-secondary:focus,
.btn-danger:focus {
    outline: none;
}

/* Styling for menu */
.menu {
    text-align: center;
    border-bottom: 1px solid grey;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    padding: 1.5%;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}

.menu ul li a:hover {
    color: #ff4757;
}

/* Main content */
.main-content {
    padding: 2% 0;
    background-color: #f1f2f6;
}

/* Column */
.col-4 {
    width: 18%;
    background-color: white;
    margin: 0.9%;
    padding: 2.5%;
    float: left;
}

/* Footer */
.footer {
    color: white;
    background-color: #ff4757;
}
